@charset "UTF-8";
@-webkit-keyframes rotations {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: linear-gradient(#9356DC, #99E2D0);
  }
  60% {
    -webkit-transform: rotate3d(50deg);
            transform: rotate3d(50deg);
    color: #99E2D0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: linear-gradient(#99E2D0, #9356DC);
  }
}
@keyframes rotations {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: linear-gradient(#9356DC, #99E2D0);
  }
  60% {
    -webkit-transform: rotate3d(50deg);
            transform: rotate3d(50deg);
    color: #99E2D0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: linear-gradient(#99E2D0, #9356DC);
  }
}

@-webkit-keyframes disparition {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparition {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

* {
  font-family: "Roboto", sans serif;
}

a {
  text-decoration: none;
}

/*couleur degradé svg coeur page d'accueil*/
.stop1 {
  stop-color: #9356DC;
}

.stop2 {
  stop-color: #FF79DA;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: -80px;
}

body {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  position: relative;
}

.header__img {
  width: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.header__return i {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: black;
}

.footer {
  background-color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  z-index: 2;
}

.footer__bloc {
  margin-left: 30px;
}

.footer__title {
  color: white;
  font-family: "shrikhand", sans serif;
  font-size: 20px;
  font-weight: 200;
  margin: 30px 0 20px 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
  font-weight: 300;
}

.footer__list__fork {
  margin-right: 10px;
}

.footer__list__hand {
  margin-right: 8px;
  font-size: small;
}

.footer__list__items {
  margin: 5px 0;
}

.footer__list__items__link {
  color: #ffffff;
}

.container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  opacity: 0.8;
  background-color: black;
  -webkit-animation: disparition 3s ease-in-out both;
          animation: disparition 3s ease-in-out both;
}

.element__fork {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 60px;
  -webkit-animation: rotations 1s ease-in-out infinite both;
          animation: rotations 1s ease-in-out infinite both;
  color: #9356DC;
}

.localisation {
  height: 60px;
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 6px 6px -6px #545454;
          box-shadow: inset 0 6px 6px -6px #545454;
}

.localisation__icone {
  font-size: 20px;
  margin-left: 20px;
}

.localisation__input {
  border: none;
  background-color: #dbdbdb;
  margin-left: 20px;
  outline: none;
}

.localisation__input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

.localisation__input:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

.localisation__input::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

.localisation__input::placeholder {
  color: black;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
}

.localisation__input:active {
  border: none;
}

.explore-bloc {
  background-color: #f2f2f2;
  width: 100%;
  height: 280px;
  text-align: center;
}

.explore-bloc__title {
  padding: 15px 50px 0 55px;
  font-weight: 900;
  font-size: 26px;
}

.explore-bloc__text {
  padding: 0 50px 10px 55px;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 18px;
}

.btn-explore {
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 10px 5px 15px #a4a2a2;
          box-shadow: 10px 5px 15px #a4a2a2;
  padding: 15px 40px;
}

.btn-explore:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#a16be0));
  background: linear-gradient(180deg, #ff88de, #a16be0);
  -webkit-box-shadow: 10px 5px 15px #8b8888;
          box-shadow: 10px 5px 15px #8b8888;
}

.btn-explore__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.running {
  width: 100%;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
}

.running__title {
  font-weight: 900;
  font-size: 26px;
  padding: 30px 0 0 20px;
  margin-bottom: 5px;
}

.running__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

.running__nb-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.running__nb-btn__number {
  background-color: #9356DC;
  font-size: 10px;
  color: #ffffff;
  font-weight: 100;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  position: relative;
  left: 15px;
  z-index: 1;
}

.running__btn {
  background-color: #f2f2f2;
  border: none;
  border-radius: 25px;
  width: 90%;
  height: 70px;
  margin-top: 20px;
  -webkit-box-shadow: 6px 4px 10px #d8d7d7;
          box-shadow: 6px 4px 10px #d8d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.running__btn:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 6px 4px 10px #bfbdbd;
          box-shadow: 6px 4px 10px #bfbdbd;
}

.running__btn:hover .running__btn__icone i {
  color: #9356DC;
}

.running__btn__icone {
  color: #808080;
  margin: 0 25px 0 40px;
}

.running__btn__text {
  font-weight: 500;
  color: black;
}

.restaurant {
  background-color: #f2f2f2;
  width: 100%;
  height: 1250px;
}

.restaurant__title {
  font-weight: 900;
  font-size: 26px;
  padding: 50px 0 10px 20px;
}

.restaurant__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #ffffff;
  width: 90%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 4px 5px 20px #a4a2a2;
          box-shadow: 4px 5px 20px #a4a2a2;
  margin-bottom: 25px;
}

.card__img {
  width: 100%;
  position: relative;
}

.card__img__food {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25%;
  background-color: #99E2D0;
  padding: 1px;
  height: 24px;
  border-radius: 4px;
}

.card__new__text {
  color: #278870;
  text-align: center;
  margin-top: 4px;
  font-weight: 700;
  font-size: 15px;
}

.card__body {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  color: black;
}

.card__text__name {
  margin: 10px 0 0 0;
  font-size: 17px;
  font-weight: 900;
}

.card__text__place {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 300;
}

.card__heart {
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
}

.card__heart__imgup, .card__heart .card__heart__imgdown {
  width: 30px;
  height: 25px;
}

.card__heart__imgup {
  stroke: black;
  stroke-width: 10px;
  position: relative;
  z-index: 1;
  fill: white;
  opacity: 1;
}

.card__heart__imgup:hover {
  opacity: 0;
  -webkit-animation: remplissage 0.5s linear both;
          animation: remplissage 0.5s linear both;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.card__heart__imgup:hover .card__heart__imgdown {
  stroke: black;
  stroke-width: 20px;
}

.card__heart__imgdown {
  position: absolute;
  fill: url(#Gradient1);
}

@-webkit-keyframes remplissage {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 0.87;
  }
  30% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.57;
  }
  75% {
    opacity: 0.38;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes remplissage {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 0.87;
  }
  30% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.57;
  }
  75% {
    opacity: 0.38;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.bg-img {
  width: 100%;
  max-height: 400px;
}

.bg-img__capture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.menu-bloc {
  background-color: #f2f2f2;
  width: 100%;
  max-height: 2500px;
  height: auto;
  padding-bottom: 40px;
  top: 350px;
  border-radius: 45px 45px 0 0;
}

.menu-bloc__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 25px;
}

.menu-bloc__name {
  margin: 38px 0 0 20px;
  font-family: "shrikhand", sans serif;
  font-weight: 300;
  font-size: 28px;
}

.menu-bloc__name__icone i {
  font-size: xx-large;
  padding-right: 25px;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal__title {
  font-weight: 300;
  font-size: 18px;
  border-bottom: 4px solid #99E2D0;
  width: 45px;
  padding-bottom: 8px;
  margin-left: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.meal__choice {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 95%;
  height: 100%;
  border-radius: 18px;
  -webkit-box-shadow: 4px 5px 20px #d8d7d7;
          box-shadow: 4px 5px 20px #d8d7d7;
}

.meal__choice__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 5px;
}

.meal__choice__name {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
  text-align: start;
}

.meal__choice__plus {
  font-weight: 300;
  font-size: 15px;
  text-align: start;
}

.meal__choice__price {
  font-size: 16px;
  font-weight: 500;
  padding: 30px 10px 0 0;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 20px;
  width: 100%;
  margin: 20px 0 10px 0;
}

.btn-menu__cmd {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: #ffffff;
  width: 55%;
  height: 60px;
  border-radius: 100px;
  -webkit-box-shadow: 4px 5px 20px #d8d7d7;
          box-shadow: 4px 5px 20px #d8d7d7;
}
/*# sourceMappingURL=style.css.map */