@charset "UTF-8";

    $localisation_bgcolor:#dbdbdb;
    $boxshadowcolor_localisation:#545454;
    $color_shadow_light: #d8d7d7;
    $color_shadow_darker:#a4a2a2;
    $color_bg:#f2f2f2;
    $color_text:black;
    $color_text_btn:white;
    $color_bg_foot:#383838;
    $font_robotto:'Roboto', sans serif;
    $font_shrikhand:'shrikhand', sans serif;
    $color_btn_running:#808080;
    $color_primary:#9356DC;
    $color_secondary : #FF79DA;
    
    @mixin tablette-desktop-only {
        @media screen and (min-width: 768px){
            @content;
        }
    }
    *{
        font-family: $font_robotto;
    }
    a {
        text-decoration:none;
    }

    body {
    width:100%;
    margin:0;
    display:flex;
    flex-direction:column;
    }
    .header {
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:80px;
        &__img {
            width:50%;
            object-fit:scale-down;
        }
    }
    .localisation {
        height: 60px;
        background-color:$localisation_bgcolor;
        display:flex;
        justify-content: center;
        align-items:center;
        box-shadow: inset 0 6px 6px -6px $boxshadowcolor_localisation;
        &__icone {
            font-size:20px;
            margin-left:20px;
        }
        &__input {
            border:none;
            background-color:$localisation_bgcolor;
            margin-left:20px;

            &::placeholder{
                color:$color_text;
                opacity:1;
                font-size :16px;
                font-weight :500;
            }
            &:active {
                border:none;
            }
        }
    }
    .explore-bloc {
        background-color: $color_bg;
        width:100%;
        height:280px;
        text-align: center;
        &__title {
            padding:15px 50px 0 55px;
            font-weight:900;
            font-size:26px;
        }
        &__text {
            padding:0 50px 10px 55px;
            font-weight:300;
            font-size:18px;
        }
    }
    .btn-explore {
        border-radius: 100px;
        background : linear-gradient(180deg, $color_secondary, $color_primary);
        border:none;
        box-shadow:10px 5px 15px $color_shadow_darker;
        width: 55%;
        height:50px;
        &__text {
            color:$color_text_btn;
            font-weight: 500;
            font-size:16px;
        }
    }
    .running {
        width:100%;
        height:380px;
        display:flex;
        flex-direction: column;
        &__title {
            font-weight:900;
            font-size:26px;
            padding:30px 0 0 20px;
            margin-bottom:5px;
        }
        &__buttons {
            display:flex;
            flex-direction:column;
            margin-left:5px;
        }
        &__nb-btn {
            display:flex;
            flex-direction: row;
            align-items:center;
            width:100%;
            &__number {
                background-color:$color_primary;
                font-size:10px;
                color:$color_text_btn;
                font-weight:100;
                width:20px;
                height:20px;
                border-radius:200px;
                display:flex;
                justify-content: center; 
                align-items:center;
                margin-top:20px;
                position:relative;
                left: 15px;
                z-index:2;
            }
        }
        &__btn {
          background-color: $color_bg;
          border:none;
          border-radius:25px;
          width:90%;
          height:70px;
          margin-top:20px;
          box-shadow:6px 4px 10px $color_shadow_light ;
          display:flex;
          flex-direction: row;
          align-items:center;
          &__link {
            display: flex;
            flex-direction:row;
            align-items:center;
          }
          &__icone {
              color:$color_btn_running;
              margin:0 25px 0 40px;
          }
          &__text {
              font-weight:500;
              color:$color_text;
          }
        }
    }
    .restaurant {
        background-color:$color_bg;
        width:100%;
        height:1250px;
        &__title {
            font-weight:900;
            font-size:26px;
            padding: 50px 0 10px 20px;
        }
        &__cards {
            width:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .card {
        background-color: $color_text_btn;
        width:90%;
        height: 250px;
        display:flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 4px 5px 20px $color_shadow_darker;
        margin-bottom:25px;
        &__img {
            width: 100%;
            &__food {
            width:100%;
            height: 180px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            }
        }
        &__body {
            color:$color_text;
            display:flex;
            flex-direction: row;
            justify-content:space-between;
            align-items:center;
        }
        &__text {
            display:flex;
            flex-direction: column;
            margin-left:15px;
            &__name{
                margin:10px 0 0 0;
                font-size:17px;
                font-weight:900;
            }
            &__place{
                margin:5px 0;
                font-size:16px;
                font-weight:300;
            }
        }
        &__heart{
                margin:0 20px 0 0;
            &__icone{
                font-size:x-large;
            }
        }
            
    }
    .footer{
        background-color:$color_bg_foot;
        display:flex;
        flex-direction: column;
        width: 100%;
        height:200px;
        &__bloc{
            margin-left:30px;
        }
        &__title{
            color:white;
            font-family: $font_shrikhand;
            font-size:20px;
            font-weight:200;
            margin:30px 0 20px 0;
        }
        &__list {
            list-style-type: none;
            padding:0;
            color:$color_text_btn;
            font-weight:300;
            &__fork {
                margin-right:10px;
            }
            &__hand {
                margin-right: 8px;
                font-size:small;
            }
            &__items {
                margin: 5px 0;
                &__link{
                    color:$color_text_btn;
                }
            }
    }
}