@mixin tablette {
    @media screen and (min-width: 500px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:900px) {
        @content;
    }
}

@mixin btn-degrade-hover {
    background: linear-gradient(180deg, lighten($color_secondary, 6%), lighten($color_primary, 8%));
    box-shadow: 10px 5px 15px darken($color_shadow_darker, 50%);
    cursor: pointer;
}

@mixin heart-anim {
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 30px;
    height: 25px;
}

@mixin overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}