$localisation_bgcolor:#dbdbdb;
$boxshadowcolor_localisation:#545454;
$color_shadow_light: #d8d7d7;
$color_shadow_darker:#a4a2a2;
$color_bg:#f2f2f2;
$color_text:black;
$color_text_btn:white;
$color_bg_foot:#383838;

$font_robotto:'Roboto', sans serif;
$font_shrikhand:'shrikhand', sans serif;

$color_btn_running:#808080;
$color_primary:#9356DC;
$color_secondary : #FF79DA;
$color_tertiary :#99E2D0;