
.localisation {
    height: 60px;
    background-color: $localisation_bgcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 6px 6px -6px $boxshadowcolor_localisation;

    &__icone {
        font-size: 20px;
        margin-left: 20px;
    }

    &__input {
        border: none;
        background-color: $localisation_bgcolor;
        margin-left: 20px;
        outline:none;
        &::placeholder {
            color: $color_text;
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
        }

        &:active {
            border: none;
        }
    }
}

.explore-bloc {
    background-color: $color_bg;
    width: 100%;
    height: 280px;
    text-align: center;
    &__title {
        padding: 15px 50px 0 55px;
        font-weight: 900;
        font-size: 26px;
    }

    &__text {
        padding: 0 50px 10px 55px;
        margin-bottom:35px;
        font-weight: 300;
        font-size: 18px;
    }
}
.btn-explore {
    border-radius: 100px;
    background: linear-gradient(180deg, $color_secondary, $color_primary);
    border: none;
    box-shadow: 10px 5px 15px $color_shadow_darker;
    padding:15px 40px;
    &:hover{
        background: linear-gradient(180deg, lighten($color_secondary,3%), lighten($color_primary,5%));
        box-shadow: 10px 5px 15px darken($color_shadow_darker,10%);
    }
    &__text {
        color: $color_text_btn;
        font-weight: 500;
        font-size: 16px;
        
    }
}

.running {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-top:70px;
    &__title {
        font-weight: 900;
        font-size: 26px;
        padding: 30px 0 0 20px;
        margin-bottom: 5px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    &__nb-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &__number {
            background-color: $color_primary;
            font-size: 10px;
            color: $color_text_btn;
            font-weight: 100;
            width: 20px;
            height: 20px;
            border-radius: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            position: relative;
            left: 15px;
            z-index: 1;
        }
    }

    &__btn {
        background-color: $color_bg;
        border: none;
        border-radius: 25px;
        width: 90%;
        height: 70px;
        margin-top: 20px;
        box-shadow: 6px 4px 10px $color_shadow_light;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover  {
            background-color: lighten($color_primary,35%); 
            box-shadow: 6px 4px 10px darken($color_shadow_light,10%);
            .running__btn__icone i {
                color:$color_primary;
            }
        }
        &__icone {
            color: $color_btn_running;
            margin: 0 25px 0 40px;
        }
        &__text {
            font-weight: 500;
            color: $color_text;
        }
    }
}

.restaurant {
    background-color: $color_bg;
    width: 100%;
    height: 1250px;

    &__title {
        font-weight: 900;
        font-size: 26px;
        padding: 50px 0 10px 20px;
    }

    &__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card {
    background-color: $color_text_btn;
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 5px 20px $color_shadow_darker;
    margin-bottom: 25px;
    &__img {
        width: 100%;
        position:relative;
        &__food {
            width: 100%;
            height: 180px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
    &__new {
        position:absolute;
        top:15px;
        right:15px;
        width:25%;
        background-color: $color_tertiary;
        padding:1px;
        height:24px;
        border-radius:4px;
        &__text {
            color:darken($color_tertiary, 40%);
            text-align:center;
            margin-top:4px;
            font-weight:700;
            font-size:15px;
        }
    }

    &__body {
        color: $color_text;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        color:$color_text;
        &__name {
            margin: 10px 0 0 0;
            font-size: 17px;
            font-weight: 900;
        }

        &__place {
            margin: 5px 0;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__heart {
        margin: 0 20px 0 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:30px;
        &__imgup, .card__heart__imgdown{
            width:30px;
            height: 25px;
            }
            &__imgup{
                stroke: black;
                stroke-width: 10px;
                position:relative;
                z-index:1;
                fill:white;
                opacity:1;
                &:hover{
                    opacity:0;
                    animation: remplissage 0.5s linear both;
                    transform-origin: 50% 0%;
                    .card__heart__imgdown{
                        stroke: black;
                        stroke-width: 20px;
                    }
                }
            }
            &__imgdown{
                position:absolute;
                fill:url(#Gradient1);
            }
    }
}

@keyframes remplissage{
    0%{
        opacity:1;
    }
    12%{
        opacity:0.87;
    }
    30%{
        opacity: 0.75;
    }
    50%{
        opacity:0.57;
    }
    75%{
        opacity:0.38;
    }
    90%{
        opacity:0.1;
    }
    100%{
        opacity:0;
    }
}
