.header {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;   
    width:100%;
    height:80px;
    position:relative;
    &__img {
        width:50%;
        object-fit:scale-down;
    }
    &__return i {
        position:absolute;
        left:20px;
        top: 50%;
        transform: translateY(-50%);
        color:$color_text;
    }
}